<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container-fluid">
          <a class="navbar-brand" href="javascript:void(0)">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="/products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products/create">Add Product</a>
            </li>         
          </ul>
          <div class="d-flex">
            {{#if user}}
            <div>Hi, {{user.username}}  ({{user.email}})</div>
            <a href="/users/logout" class="btn btn-primary btn-sm">Logout</a>
            {{else}}
            <div>Welcome, guest</div>
            <a href="/users/login" class="btn btn-primary btn-sm">Log In</a>
            {{/if}}
          </div
        </div>
    </div>
  </nav>
        {{#if success_messages}}
          {{#each success_messages}}
            <div class="alert alert-success">
              {{this}}
            </div>
          {{/each}}
        {{/if}}

        {{#if error_messages}} 
          {{#each error_messages}}
            <div class="alert alert-danger">
              {{this}}
            </div>

          {{/each}}
        {{/if}}

        {{#block "content"}}{{/block}}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>